.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #4b8d67;
  margin: 3px;

  &:hover {
    background: #4b8d67;
    color: aliceblue;
  }
}
