@import "mixins";
@import "variables";

.react-chatbot-kit-chat-container {
  ::-webkit-scrollbar {
    background: rgb(109, 109, 109);
  }
  ::-webkit-scrollbar-thumb {
    background: $c-pri;
  }
}

.app-chatbot-button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: $c-accent-dark;
  color: #fff;
  border: none;
  position: fixed;
  bottom: 20px;
  z-index: 9999;
  right: 20px;
}

.react-chatbot-kit-chat-inner-container {
  position: fixed;
  bottom: 30px;
  right: 75px;
  height: 400px;
  max-width: 400px;
  width: 100%;
  z-index: 10000;
  background: white;
  border-radius: 20px;
}

.react-chatbot-kit-chat-bot-message-container,
.react-chatbot-kit-user-chat-message-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.react-chatbot-kit-user-chat-message-container {
  justify-content: flex-end;
}

.react-chatbot-kit-chat-header {
  background: $c-accent-dark;
  color: aliceblue;
  padding: 0.5rem;
}

.react-chatbot-kit-chat-bot-message,
.react-chatbot-kit-user-chat-message {
  position: relative;
  background-color: #2898ec;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  max-width: 184.5px;
  width: fit-content;
  word-wrap: break-word;
  text-align: left;
  z-index: 1;
}

.react-chatbot-kit-user-chat-message {
  background-color: $c-accent-dark;
}

.react-chatbot-kit-chat-bot-message-arrow,
.react-chatbot-kit-user-chat-message-arrow {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #2898ec;
  left: -5px;
  bottom: 8px;
  transform: rotate(45deg);
  z-index: -1;
}
.react-chatbot-kit-user-chat-message-arrow {
  left: unset;
  right: -5px;
  background: $c-accent-dark;
}
.react-chatbot-kit-user-chat-message-arrow .react-chatbot-kit-chat-input {
  padding: 0.5rem;
  border: none;

  &:focus {
    outline: 2px solid $c-accent;
  }
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
}

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}
.react-chatbot-kit-chat-message-container {
  background: #c7d3d4ff;
}

.react-chatbot-kit-chat-input-form {
  background: #567572ff;
  color: white;
}

.react-chatbot-kit-chat-container {
  position: relative;
  width: 275px;
}

.react-chatbot-kit-chat-inner-container {
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  border-radius: 5px;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 435px;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
}

.react-chatbot-kit-chat-input-form {
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858;
}

.react-chatbot-kit-chat-btn-send {
  background-color: $c-accent-dark;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff;
  width: 15px;
  margin: 0 auto;
}
.react-chatbot-kit-user-avatar-container {
  height: 30px;
  width: 30px;
}

.bot-avatar {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background: rgb(212, 212, 212) !important;
}
