@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

li {
  all: unset;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: rgb(255, 255, 255);
    bottom: -3px;
    left: 0;
    transition: width 1s ease;
  }
}

.active {
  position: relative;

  &::after {
    width: 80%;
  }
}
