@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap");
@import "mixins";
@import "variables";
@import "./chatbot.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 10px;
    background: #0a192f;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
  }

  // cursor: none;
}
body {
  background: $c-pri;
}
section {
  padding-left: 100px;
}
a {
  all: unset;
  cursor: pointer;
}

li {
  all: unset;
}

.active {
  transition: 0.5s ease;
  // position: relative;
  // &::after {
  //   width: 80%;
  // }
  background: $c-accent-dark !important;
  border-radius: 5px;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  color: #ccd6f6;
}

@media (max-width: 712px) {
  section {
    padding-left: 0px !important;
  }
}

/* Cursor */
@media (hover: hover) {
  #cursor {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0.5px solid $c-accent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    pointer-events: none;
    animation: pulse 0.5s infinite alternate;
    transform-origin: center;
  }
  #cursor::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border: 5px solid rgba(121, 121, 121, 0.541);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #cursor.highlight {
    transform: scale(3);
    transition: ease;
    border-style: dashed;
    animation: rotating 10s infinite;
    transform: translate(-50%, -50%);
  }

  #cursor.snap {
    animation: snap 0.2s;
  }
  @keyframes rotating {
    0% {
      transform: translate(-50%, -50%) scale(3) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(3) rotate(360deg);
    }
  }
  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(0.7);
    }
  }
  @keyframes snap {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
      transform: translate(-50%, -50%) scale(0.3);
    }
  }
}
