@import "mixins";
@import "variables";

.hero {
  position: relative;
  background: $c-pri;
  min-height: calc(100vh);
  color: $c-white;
  flex-direction: column;

  @include center();
  .typography {
    font-size: 3rem;
    position: fixed;
    text-align: center;
    transform: translateX(-40px);

    span {
      display: block;
    }
  }
  .permanent {
    position: absolute;
    font-size: 3rem;
    text-align: center;
    transform: translateX(-40px);

    span {
      display: block;
      &.subheading {
        font-size: 2rem;
        color: $c-accent;
      }
    }
  }

  .two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 5rem;

    .left {
      max-width: 400px;
      line-height: 25px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  strong {
    color: $c-accent;
  }

  .know::before {
    animation: bounce 1s ease infinite;
    bottom: 2rem;
    color: #fff;
    content: "╲╱";
    font-size: 2rem;
    height: 4rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
  }

  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
  }
}
@media (max-width: 712px) {
  .typography {
    font-size: 2rem !important;
  }
  .permanent {
    transform: translateX(0px) !important;
    font-size: 2.2rem !important;
  }
}
@media (max-width: 375px) {
  .typography {
    font-size: 1.5rem !important;
  }
  .permanent {
    font-size: 1.7rem !important;

    .subheading {
      font-size: 1.5rem !important;
    }
  }
}
