@import "mixins";
@import "variables";

.hero {
  background: $c-pri;
  height: calc(100vh - 100px);
  color: $c-white;
  @include center();
  .typography {
    font-size: 4rem;
    position: fixed;
    text-align: center;

    span {
      display: block;
    }
  }
}
