@import "mixins";
@import "variables";

.hero {
  background: $c-pri;
  height: calc(100vh);
  color: $c-white;
  @include center();
  .typography {
    font-size: 4rem;
    position: fixed;
    text-align: center;

    span {
      display: block;
    }
  }
  .permanent {
    position: absolute;
    font-size: 4rem;
    text-align: center;

    span {
      display: block;
    }
  }

  .two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    .left {
      max-width: 400px;
      line-height: 25px;
    }
  }

  strong {
    color: $c-accent;
  }
}
