@import "mixins";
@import "variables";

.nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  background: $c-pri;
  color: $c-white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  z-index: 999;

  .left {
    background: $c-pri;
    display: flex;
    padding: 20px;
    position: relative;

    .logo {
      height: 50px;
      width: 50px;
      border: 2px solid $c-white;
      border-radius: 100%;
      margin: auto;
      @include center();
    }

    .name {
      position: fixed;
      top: 0;
      left: 80px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $c-pri;
      height: 90px;
    }
  }

  .links {
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
    @include gapped(30px);
    text-align: center;
    cursor: pointer;

    img {
      height: 50px !important;
      width: 50px !important;
      padding: 5px !important;
    }

    a {
      color: $c-white;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}

@media (max-width: 712px) {
  .nav {
    width: 100%;
    height: 80px;
    bottom: 0;
    top: unset;

    .left {
      position: fixed;
      top: 0;
      left: 0;
    }

    .links {
      margin-left: -20px;
      flex-direction: row;
      justify-content: space-around;
      width: calc(100% - 75px);
      padding: 1rem;
      img {
        padding: 2px !important;
        height: 30px !important;
        width: 30px !important;
      }
    }
  }
}

@media (max-width: 375px) {
  .left {
    padding: 0 15px !important;
    height: 55px !important;
  }
  .logo {
    height: 40px !important;
    width: 40px !important;
  }
  .name {
    left: 65px !important;
    font-size: 0.8rem !important;
    height: 55px !important;
    width: 100% !important;
  }
}
