@import "mixins";
@import "variables";

.project {
  min-height: 100vh;
  background: #ebebeb;
  @include center();
  padding: 1rem;
  padding-left: 110px;
  padding-top: 100px;
  color: #232323;

  .image-container {
    @include center();
    gap: 1rem;
    flex-direction: column;

    h2 {
      align-self: flex-start;
    }
    .two-cols {
      max-width: 800px;
      display: grid;
      grid-template-columns: 1fr 210px;
      gap: 10px;
      background: rgba($color: rgb(255, 255, 255), $alpha: 0.3);
      box-shadow: 0 0 15px rgba($color: rgb(0, 0, 0), $alpha: 0.3);
      border-radius: 5px;
      padding: 1rem;

      .main {
        position: relative;
        width: 100%;
        height: 400px;

        img {
          height: 400px !important;
          width: 100% !important;
        }
      }

      .menu {
        .button {
          width: 200px;
          cursor: pointer;
          &.active {
            border: 3px solid $c-accent-dark;
            cursor: auto;
          }
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      .site,
      .code {
        display: flex;
        gap: 10px;
        cursor: pointer;
      }

      .code {
        background: rgb(44, 44, 44);
        color: #ebebeb;
        border-radius: 1px;
        padding: 10px;
        border-radius: 5px;
      }
    }

    .description {
      max-width: 800px;
      padding-top: 1.2rem;
      padding-bottom: 3rem;
    }
  }
}

@media (max-width: 730px) {
  .two-cols {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 712px) {
  .project {
    padding-left: 1rem !important;
  }
}
@media (max-width: 375px) {
  .project {
    padding-top: 60px;
  }
}
